
#card-title {
  margin: 25px;
  border: unset;
  & p {
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: bold;
  }
}

.mat-card-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 1100px;
}

mat-card {
  border: 1px solid darkgrey;
  margin: 0 25px 25px;
  width: 1020px;
  box-sizing: border-box;
}

.top-input {
  text-align: center;
}

.top-input {
  margin: 15px;
  & table {
    width: 100%;
    & .task {
      width: 22%;
    }
    & input {
      width: 400px;
    }

  }
}

.centered {
  margin: 0;
  padding: 0;
  height: 100%;
  float: right;
}

input {
  width: 40%;
  height: 20px;

}

#topCard {
  text-align: center;
}

.mat-card-center input {
  align-self: center;
}

.topButton {
  margin: 0 25px;
  width: 10%;
}

#botCard{
  & .mat-mdc-card-content {
    padding: 0;
  }
  & .mat-mdc-table {
    background: transparent;
  }
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: auto;
}


