<div class="dialog-title" mat-dialog-title>
    <h2>Timesheet Entry</h2>
</div>

<div class="content" mat-dialog-content>
    <form (ngSubmit)="onFormSubmit()" [formGroup]="userForm">
        <table>
            <tr>
                <td>
                    <p>Project</p>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <input formControlName="project" matInput>
                    </mat-form-field>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <p>Task</p>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <input formControlName="task" matInput>
                    </mat-form-field>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <p>Date From</p>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <input formControlName="startDate" matInput>
                    </mat-form-field>
                </td>
                <td>
                    <p>Date To</p>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <input formControlName="dueDate" matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Status</p>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="status">
                            <mat-option *ngFor="let status of statusData" [value]="status">
                                {{ status }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <p>User</p>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="user">
                            <mat-option *ngFor="let status of userData" [value]="status">
                                {{ status }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="centerButton" mat-dialog-actions>
            <button class="formButton" color="primary" mat-raised-button (click)="onFormSubmit()" type="submit">{{ data ? "Update" : "Save" }}</button>
            <button class="formButton" color="primary" [mat-dialog-close]="false" mat-raised-button type="button">Close</button>
        </div>
    </form>
</div>




